
:root {
  --panelBackground: #082032;  /* was #46494c the background color of the panel */
  --panelTextColor: #c5c3c6; /* the text color of all menu items in the panel */
  --panelTextColorHover: #fff; /* the text color of menu items in the panel
  when hovered over */
  --titleColor: #082032; /* was #555, the color of titles in the main page, not the title
  in the panel */
  --mainBackground: #fff; /* was #dbdbdd background color of the main document */
  --linkColor: #4c594c;  /* was #4c594c, color of all links in the side menu */
  --linkColorHover: #ff0000; /* was #8b08f7, color of all links in the side menu when hovered
  over */
  --panelDecorColor: #66f; /* was #8b08f7 */
  --logoColor: #F78B08; /* this is the logo color, THIS SHOULD NOT BE CHANGED */
}

html,body {
  background-color: var(--mainBackground);
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15pt;


}
body {
  margin-top: 150px;
}

/* normal sage cell for execution */
.sage {
  width: 80%;
  height: auto;
  margin-left: 10%;
}

.logo {
  padding-left: 3%;
  max-height: 65px;
  max-width: 65px;
}

/* title class */
a.title {
  font-size: 35px;
  font-family: sans-serif;

  padding-left: 1%;
  color: var(--panelTextColor);
  text-decoration: none;
  white-space: nowrap;
}
a.title:hover {
  color: var(--panelTextColor);
}

/* the panel at the top of the page */
.panel {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 65px;

  background-color: var(--panelBackground);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: 20px;
  padding-bottom: 10px;
  z-index: 1000;
}

/* panel decoration underneath the panel on page */
.panel-decor {
  width: 100%;
  min-height: 8px;
  background-color: var(--panelDecorColor);
  position: fixed;
  top: 95px;
  left: 0px;
  font-size: 20px;
  color: white;
  padding-left: 2%;
  z-index: 1000;
}

/* menu item container for the panel */
.menu-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 3%;
  align-items: center;
}

/* menu items */
.menu-item {
  padding-left: 20px;
}
/* links under the class menu-item in the menu-item-container */
.menu-item-container a.menu-item {
  color: var(--panelTextColor);
  text-decoration: none;
}

/* same but under hover */
.menu-item-container a.menu-item:hover {
  color: var(--panelTextColorHover);
}

/* the main content of the page  */
.main-content-two {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;


  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

/* the main content of other pages, with no columns */
.main-content {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

/* article - for the main information */
.article-twocolumn {
  width: 65%;

}

.article-twocolumn a {
  text-decoration: none;
  color: var(--linkColor);
}
.article-twocolumn a:hover {
  color: var(--linkColorHover);
}

/* the subtitle class */
h2 {
  color: var(--titleColor);
}

.horizontal-divider {
  height: 3px;
  width: 90%;
  margin-left: 5%;
  background-color: var(--panelDecorColor);
  border-radius: 5px;
}


/* side menu area */
.side-menu {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 5px;
  border-style: none;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-width: 3px;
  border-color: var(--panelBackground);
}

.vertical-divider {
  width: 3px;
  height: 100%;
  background-color: var(--panelDecorColor);
  border-radius: 5px;
}

/* items in the side menu */
.side-menu-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* side-menu-items that are links */
.side-menu a.side-menu-item {
  text-decoration: none;
  color: var(--linkColor);
}
/* same but under hover */
.side-menu a.side-menu-item:hover {
  color: var(--linkColorHover);
  padding-right: 5px;
}

/* footer information */
.footer {
  width: 100%;
  padding-top: 50px;
  bottom: 0;
  position: static;

  color: var(--panelTextColor);
}

.footer-decor {
  min-height: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 5px;

}

.bottom-logo {
  max-height: 15px;
  padding-right: 10px;
}

.bottom-logo-decor {
  min-height: 8px;
  width: 20px;
  background-color: var(--panelDecorColor);

  padding-right: 3%;
}

.footer-content {
  width: 100%;
  min-height: 150px;
  background-color: var(--panelBackground);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer-content-block {
  width: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--panelTextColor);
}

.footer-content-block a {
  color: var(--panelTextColor);
  text-decoration: none;
}
.footer-content-block a:hover {
  color: var(--panelTextColorHover);
}
